DATABASE_URL=postgresql://USER:PASSWORD@HOST/DB
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_cHJvdWQtYmF0LTM2LmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_Mhj0XdRIpGD8uWLBfIytgSLVlcfNXOBslrpv6XLZv0
